@import "tailwindcss";

@import "@fontsource/carlito";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: oklch(0.9786 0.0129 185.1);
  --foreground: oklch(0.145 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: 'Carlito', sans-serif;
  }
}
