@import "tailwindcss";

@import "@fontsource-variable/outfit";
@import "@fontsource-variable/fira-code";
@import "@fontsource-variable/roboto-mono";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-feature-foreground: var(--feature-foreground);
  --color-select: var(--select);
  --color-select-foreground: var(--select-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-roboto-mono: var(--font-roboto-mono);
}

:root {
  --background: oklch(0.9786 0.0129 185.1);
  --foreground: oklch(0.2143 0.1 292.23);
  --border: oklch(0.2143 0.1 292.23);
  --accent-foreground: oklch(0.9771 0.0074 80.72);
  --feature-foreground: oklch(0.6787 0.1874 304.82);
  --ring: oklch(0.708 0 0);
  --select: oklch(0.72 0.085 240);
  --select-foreground: oklch(0.98 0.005 250);

  --font-sans: "Outfit Variable", sans-serif;
  --font-mono: "Fira Code Variable", monospace;
  --font-roboto-mono: "Roboto Mono Variable", monospace;
}

@layer base {
  * {
    @apply border-border outline-ring/50 selection:bg-select selection:text-select-foreground;
  }

  body {
    @apply bg-background text-foreground;
  }
}
